//registry.npmjs.org/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.exampletoken1234567890
@corp-private:registry=https://npm.corp.internal.corp/
//npm.corp.internal.corp/:_authToken=CIexamplePrivateToken1234
